.hero {
  display: flex;
  justify-content: center;
  height: calc(100vh - 5rem);
  align-items: center;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--backgroundColor);
  position: relative;
}

.hero-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
color: #fff;
}

.promos {
  display: flex;
  justify-content: center;
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

.promo-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.promo-card {
  width: 100%;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem;
}

.promo-card:nth-child(2){
  border-left: 1px solid var(--backgroundColor);
  border-right: 1px solid var(--backgroundColor);
}

.products-image {
  display: flex;
  justify-content: center;
}

.products-image-container {
  position: relative;
  display: flex;
}

.product-image-container {
  height: 24rem;
  width: 100%;
}

.product-image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.products-image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shopping-perks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.shopping-perks-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.shopping-perks-container h2 {
  color: var(--primaryColor);
}

.shopping-perks-cards {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 0 2rem;
}

.shopping-perk {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  border: 2px solid var(--accentColor);
}

.shopping-perk h3 {
  color: #000;
}

.categories {
  display: flex;
  justify-content: center;
}

.categories-container {
  display: flex;
  padding: 0 0;
  gap: 2rem;
  flex-direction: column;
}

.categories-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.categories-grid-container li {
  border: 3px solid var(--tertiaryColor);
  padding: 2rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}




