/* CSS STYLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* WEBSITE CONSTRAINTS */
:root {
  /* Font */
  --fontHeader: "";
  --fontBody: "";

  /* Color */
  --primaryColor: #2e4057; /* a strong, confident base */
  --secondaryColor: #ee583f; /* a bold, warm contrast */
  --accentColor: #f7b3cc; /* a soft and inviting, great for callouts, buttons, or hover states */
  --tertiaryColor: #c7b65e; /* adds vintage warmth, can be used for headings, emphasis, or alerts */
  --backgroundColor: #fff7ee; /* a clean, soft background that complements darker text */
  --textColor: #131c26; /* a near-black for contrast */
}

body {
  min-width: 375px;
  font-family: var(--fontBody);
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

section {
  display: flex;
  padding: 0 2rem;
}

.container {
  max-width: 70rem;
  width: 100%;
  padding: 4rem 0;
}

h1 {
  font-size: 1.875rem;
  font-family: "Times New Roman", sans-serif;
  font-weight: 700;
}

.display-text {
  font-size: 2.5rem;
  font-family: "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-family: "Impact";
  font-weight: 500;
}

h3 {
  font-size: 0.9375rem;
  font-family: "Comic Sans MS", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Calibri", sans-serif;
}

.body-large {
  font-size: 1.25rem;
  font-family: "Calibri", sans-serif;
}

.button-text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

.site-gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
  pointer-events: none;
}

/* WEBSITE COMPONENTS */
/* Navigation Component Start--------------------------------------- */
.navigation {
  display: flex;
  justify-content: center;
  color: var(--primaryColor);
  padding: 0 2rem;
  height: 5rem;
  background-color: var(--backgroundColor);
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  width: 100%;
}

.logo-image-container {
  width: 10rem;
  height: 5rem;
  display: flex;
}

.logo-image-container img {
  height: 100%;
  object-fit: cover;
}

.page-title {
  white-space: nowrap;
}

.navigation-links {
  display: flex;
  max-width: 12.25rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;
  white-space: nowrap;
  margin-left: 15rem;
}

.navigation-link {
  color: var(--primaryColor);
  transition: color 0.3s ease-in-out;
}

.navigation-link:hover {
  color: var(--secondaryColor);
}
/* Navigation Component End--------------------------------------- */

/* --------------------------- OUTLET --------------------------- */

/* Page Header Component Start--------------------------------------- */
.page-header-title {
  display: flex;
  justify-content: center;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--backgroundColor);
  position: relative;
}

.page-header-title-container {
  min-height: 24vh;
  z-index: 1;
  display: flex;
  align-items: center;
}
/* Page Header Component End--------------------------------------- */

/* --------------------------- OUTLET --------------------------- */

/* Footer Component Start--------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-get-in-touch-links {
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-social-links li {
  cursor: pointer;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  border: 2px solid var(--backgroundColor);
  padding: 0.5rem;
}

.footer-social-links li img {
  width: 100%;
  height: 100%;
}
/* Footer Component End--------------------------------------- */
